.head {
  width: 99%;
  height: 25%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-anchor: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-self: center;
  width: 99%;
  border-radius: 10px;
  background-color: red;
}

.header-logoA {
  height: 95%;
  width: 12%;
  margin: auto 10px;
}

.header-logoM {
  height: 95%;
  width: 15%;
  margin: auto 10px;
}

.header-title {
  color: white;
}

.menu-nav {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 99%;
  border: 2px solid black;
  border-radius: 15px;
  background-color: red;
}

.menu-nav_item {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 98%;
  width: 20%;
  max-width: 120px;
  max-height: 20px;
  min-height: 17px;
  margin: 5px 2px;
  padding: 5px;
  border-radius: 10px;
}

.menu-nav_item:hover {
  background-color: grey;
}

.menu-nav:nth-child(1) {
  padding-left: 1px;
}

.menu-nav_logo {
  margin-top: 5px;
  margin-left: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.menu-nav_link {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 10px;
  color: white;
  text-justify: center;
  margin: auto 2px;
  white-space: nowrap;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 25%;
  padding: 10px 10px;
  width: 98%;
  border-radius: 10px;
  background-color: #383838;
  color: white;
}

.footer::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  clear: both;
}

.column {
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px 10px;
}

.column_1 {
  float: left;
  width: 33%;
}

.column_2 {
  display: inline-block;
  width: 33%;
}

.column_3 {
  float: right;
  width: 33%;
}

.copyright-row {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 25%;
  width: 98%;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  border: 2px solid black;
  width: 97%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55vh;
  margin: 5px;
}

.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2px;
  border: 2px solid black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  height: 90%;
}

.option-item {
  list-style-type: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 2px solid blue;
  width: 97%;
}

.images {
  width: 50%;
  height: 90%;
  border: 2px solid red;
}

.flash-news {
  height: 90%;
  width: 25%;
  border: 2px solid black;
}

.hod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hod_column {
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
  height: 45%;
}

.hod_column_1 {
  width: 20%;
  float: left;
  padding: 10px 10px;
  border: 2px solid black;
}

.hod_column_2 {
  width: 50%;
  float: right;
  padding: 10px 10px;
  border: 2px solid black;
}

.hod_content {
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px 20px;
}

.grid-space {
  padding-left: 10%;
  padding-right: 10%;
}

.grid-bg {
  background-color: rgba(255, 255, 100, 0.7);
  padding-left: 5%;
  padding-right: 5%;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 15px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
}

.grid-container > div > img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

/* for pie chart */
.grid-container-pie {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 37vw auto;
      grid-template-columns: 37vw auto;
  grid-gap: 15px;
}

.grid-container-pie > div {
  text-align: center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.pie-chart {
  background: radial-gradient(circle closest-side, transparent 66%, white 0), conic-gradient(#4e79a7 0, #4e79a7 25%, #f28e2c 0, #f28e2c 75%);
  position: relative;
  min-height: 350px;
  margin: 0;
  outline: 3px solid black;
}

.pie-chart figcaption {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: smaller;
  text-align: right;
}

.pie-chart span:after {
  display: inline-block;
  content: "";
  width: 0.8em;
  height: 0.8em;
  margin-left: 0.4em;
  height: 0.8em;
  border-radius: 0em;
  background: currentColor;
}

/* for bar graphs */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid-chart {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[130];
      grid-template-rows: repeat(130, 1fr);
  grid-column-gap: 15px;
  height: 350px;
  width: 70vw;
  padding: 5px 10px;
}

.grid-chart [class*="bar"] {
  border-radius: 5px 5px 0 0;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  background-color: #B74F6F;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 131;
}

.grid-chart .bar-1 {
  -ms-grid-row: 130;
      grid-row-start: 130;
}

.grid-chart .bar-2 {
  -ms-grid-row: 129;
      grid-row-start: 129;
}

.grid-chart .bar-3 {
  -ms-grid-row: 128;
      grid-row-start: 128;
}

.grid-chart .bar-4 {
  -ms-grid-row: 127;
      grid-row-start: 127;
}

.grid-chart .bar-5 {
  -ms-grid-row: 126;
      grid-row-start: 126;
}

.grid-chart .bar-6 {
  -ms-grid-row: 125;
      grid-row-start: 125;
}

.grid-chart .bar-7 {
  -ms-grid-row: 124;
      grid-row-start: 124;
}

.grid-chart .bar-8 {
  -ms-grid-row: 123;
      grid-row-start: 123;
}

.grid-chart .bar-9 {
  -ms-grid-row: 122;
      grid-row-start: 122;
}

.grid-chart .bar-10 {
  -ms-grid-row: 121;
      grid-row-start: 121;
}

.grid-chart .bar-11 {
  -ms-grid-row: 120;
      grid-row-start: 120;
}

.grid-chart .bar-12 {
  -ms-grid-row: 119;
      grid-row-start: 119;
}

.grid-chart .bar-13 {
  -ms-grid-row: 118;
      grid-row-start: 118;
}

.grid-chart .bar-14 {
  -ms-grid-row: 117;
      grid-row-start: 117;
}

.grid-chart .bar-15 {
  -ms-grid-row: 116;
      grid-row-start: 116;
}

.grid-chart .bar-16 {
  -ms-grid-row: 115;
      grid-row-start: 115;
}

.grid-chart .bar-17 {
  -ms-grid-row: 114;
      grid-row-start: 114;
}

.grid-chart .bar-18 {
  -ms-grid-row: 113;
      grid-row-start: 113;
}

.grid-chart .bar-19 {
  -ms-grid-row: 112;
      grid-row-start: 112;
}

.grid-chart .bar-20 {
  -ms-grid-row: 111;
      grid-row-start: 111;
}

.grid-chart .bar-21 {
  -ms-grid-row: 110;
      grid-row-start: 110;
}

.grid-chart .bar-22 {
  -ms-grid-row: 109;
      grid-row-start: 109;
}

.grid-chart .bar-23 {
  -ms-grid-row: 108;
      grid-row-start: 108;
}

.grid-chart .bar-24 {
  -ms-grid-row: 107;
      grid-row-start: 107;
}

.grid-chart .bar-25 {
  -ms-grid-row: 106;
      grid-row-start: 106;
}

.grid-chart .bar-26 {
  -ms-grid-row: 105;
      grid-row-start: 105;
}

.grid-chart .bar-27 {
  -ms-grid-row: 104;
      grid-row-start: 104;
}

.grid-chart .bar-28 {
  -ms-grid-row: 103;
      grid-row-start: 103;
}

.grid-chart .bar-29 {
  -ms-grid-row: 102;
      grid-row-start: 102;
}

.grid-chart .bar-30 {
  -ms-grid-row: 101;
      grid-row-start: 101;
}

.grid-chart .bar-31 {
  -ms-grid-row: 100;
      grid-row-start: 100;
}

.grid-chart .bar-32 {
  -ms-grid-row: 99;
      grid-row-start: 99;
}

.grid-chart .bar-33 {
  -ms-grid-row: 98;
      grid-row-start: 98;
}

.grid-chart .bar-34 {
  -ms-grid-row: 97;
      grid-row-start: 97;
}

.grid-chart .bar-35 {
  -ms-grid-row: 96;
      grid-row-start: 96;
}

.grid-chart .bar-36 {
  -ms-grid-row: 95;
      grid-row-start: 95;
}

.grid-chart .bar-37 {
  -ms-grid-row: 94;
      grid-row-start: 94;
}

.grid-chart .bar-38 {
  -ms-grid-row: 93;
      grid-row-start: 93;
}

.grid-chart .bar-39 {
  -ms-grid-row: 92;
      grid-row-start: 92;
}

.grid-chart .bar-40 {
  -ms-grid-row: 91;
      grid-row-start: 91;
}

.grid-chart .bar-41 {
  -ms-grid-row: 90;
      grid-row-start: 90;
}

.grid-chart .bar-42 {
  -ms-grid-row: 89;
      grid-row-start: 89;
}

.grid-chart .bar-43 {
  -ms-grid-row: 88;
      grid-row-start: 88;
}

.grid-chart .bar-44 {
  -ms-grid-row: 87;
      grid-row-start: 87;
}

.grid-chart .bar-45 {
  -ms-grid-row: 86;
      grid-row-start: 86;
}

.grid-chart .bar-46 {
  -ms-grid-row: 85;
      grid-row-start: 85;
}

.grid-chart .bar-47 {
  -ms-grid-row: 84;
      grid-row-start: 84;
}

.grid-chart .bar-48 {
  -ms-grid-row: 83;
      grid-row-start: 83;
}

.grid-chart .bar-49 {
  -ms-grid-row: 82;
      grid-row-start: 82;
}

.grid-chart .bar-50 {
  -ms-grid-row: 81;
      grid-row-start: 81;
}

.grid-chart .bar-51 {
  -ms-grid-row: 80;
      grid-row-start: 80;
}

.grid-chart .bar-52 {
  -ms-grid-row: 79;
      grid-row-start: 79;
}

.grid-chart .bar-53 {
  -ms-grid-row: 78;
      grid-row-start: 78;
}

.grid-chart .bar-54 {
  -ms-grid-row: 77;
      grid-row-start: 77;
}

.grid-chart .bar-55 {
  -ms-grid-row: 76;
      grid-row-start: 76;
}

.grid-chart .bar-56 {
  -ms-grid-row: 75;
      grid-row-start: 75;
}

.grid-chart .bar-57 {
  -ms-grid-row: 74;
      grid-row-start: 74;
}

.grid-chart .bar-58 {
  -ms-grid-row: 73;
      grid-row-start: 73;
}

.grid-chart .bar-59 {
  -ms-grid-row: 72;
      grid-row-start: 72;
}

.grid-chart .bar-60 {
  -ms-grid-row: 71;
      grid-row-start: 71;
}

.grid-chart .bar-61 {
  -ms-grid-row: 70;
      grid-row-start: 70;
}

.grid-chart .bar-62 {
  -ms-grid-row: 69;
      grid-row-start: 69;
}

.grid-chart .bar-63 {
  -ms-grid-row: 68;
      grid-row-start: 68;
}

.grid-chart .bar-64 {
  -ms-grid-row: 67;
      grid-row-start: 67;
}

.grid-chart .bar-65 {
  -ms-grid-row: 66;
      grid-row-start: 66;
}

.grid-chart .bar-66 {
  -ms-grid-row: 65;
      grid-row-start: 65;
}

.grid-chart .bar-67 {
  -ms-grid-row: 64;
      grid-row-start: 64;
}

.grid-chart .bar-68 {
  -ms-grid-row: 63;
      grid-row-start: 63;
}

.grid-chart .bar-69 {
  -ms-grid-row: 62;
      grid-row-start: 62;
}

.grid-chart .bar-70 {
  -ms-grid-row: 61;
      grid-row-start: 61;
}

.grid-chart .bar-71 {
  -ms-grid-row: 60;
      grid-row-start: 60;
}

.grid-chart .bar-72 {
  -ms-grid-row: 59;
      grid-row-start: 59;
}

.grid-chart .bar-73 {
  -ms-grid-row: 58;
      grid-row-start: 58;
}

.grid-chart .bar-74 {
  -ms-grid-row: 57;
      grid-row-start: 57;
}

.grid-chart .bar-75 {
  -ms-grid-row: 56;
      grid-row-start: 56;
}

.grid-chart .bar-76 {
  -ms-grid-row: 55;
      grid-row-start: 55;
}

.grid-chart .bar-77 {
  -ms-grid-row: 54;
      grid-row-start: 54;
}

.grid-chart .bar-78 {
  -ms-grid-row: 53;
      grid-row-start: 53;
}

.grid-chart .bar-79 {
  -ms-grid-row: 52;
      grid-row-start: 52;
}

.grid-chart .bar-80 {
  -ms-grid-row: 51;
      grid-row-start: 51;
}

.grid-chart .bar-81 {
  -ms-grid-row: 50;
      grid-row-start: 50;
}

.grid-chart .bar-82 {
  -ms-grid-row: 49;
      grid-row-start: 49;
}

.grid-chart .bar-83 {
  -ms-grid-row: 48;
      grid-row-start: 48;
}

.grid-chart .bar-84 {
  -ms-grid-row: 47;
      grid-row-start: 47;
}

.grid-chart .bar-85 {
  -ms-grid-row: 46;
      grid-row-start: 46;
}

.grid-chart .bar-86 {
  -ms-grid-row: 45;
      grid-row-start: 45;
}

.grid-chart .bar-87 {
  -ms-grid-row: 44;
      grid-row-start: 44;
}

.grid-chart .bar-88 {
  -ms-grid-row: 43;
      grid-row-start: 43;
}

.grid-chart .bar-89 {
  -ms-grid-row: 42;
      grid-row-start: 42;
}

.grid-chart .bar-90 {
  -ms-grid-row: 41;
      grid-row-start: 41;
}

.grid-chart .bar-91 {
  -ms-grid-row: 40;
      grid-row-start: 40;
}

.grid-chart .bar-92 {
  -ms-grid-row: 39;
      grid-row-start: 39;
}

.grid-chart .bar-93 {
  -ms-grid-row: 38;
      grid-row-start: 38;
}

.grid-chart .bar-94 {
  -ms-grid-row: 37;
      grid-row-start: 37;
}

.grid-chart .bar-95 {
  -ms-grid-row: 36;
      grid-row-start: 36;
}

.grid-chart .bar-96 {
  -ms-grid-row: 35;
      grid-row-start: 35;
}

.grid-chart .bar-97 {
  -ms-grid-row: 34;
      grid-row-start: 34;
}

.grid-chart .bar-98 {
  -ms-grid-row: 33;
      grid-row-start: 33;
}

.grid-chart .bar-99 {
  -ms-grid-row: 32;
      grid-row-start: 32;
}

.grid-chart .bar-100 {
  -ms-grid-row: 31;
      grid-row-start: 31;
}

.grid-chart .bar-101 {
  -ms-grid-row: 30;
      grid-row-start: 30;
}

.grid-chart .bar-102 {
  -ms-grid-row: 29;
      grid-row-start: 29;
}

.grid-chart .bar-103 {
  -ms-grid-row: 28;
      grid-row-start: 28;
}

.grid-chart .bar-104 {
  -ms-grid-row: 27;
      grid-row-start: 27;
}

.grid-chart .bar-105 {
  -ms-grid-row: 26;
      grid-row-start: 26;
}

.grid-chart .bar-106 {
  -ms-grid-row: 25;
      grid-row-start: 25;
}

.grid-chart .bar-107 {
  -ms-grid-row: 24;
      grid-row-start: 24;
}

.grid-chart .bar-108 {
  -ms-grid-row: 23;
      grid-row-start: 23;
}

.grid-chart .bar-109 {
  -ms-grid-row: 22;
      grid-row-start: 22;
}

.grid-chart .bar-110 {
  -ms-grid-row: 21;
      grid-row-start: 21;
}

.grid-chart .bar-111 {
  -ms-grid-row: 20;
      grid-row-start: 20;
}

.grid-chart .bar-112 {
  -ms-grid-row: 19;
      grid-row-start: 19;
}

.grid-chart .bar-113 {
  -ms-grid-row: 18;
      grid-row-start: 18;
}

.grid-chart .bar-114 {
  -ms-grid-row: 17;
      grid-row-start: 17;
}

.grid-chart .bar-115 {
  -ms-grid-row: 16;
      grid-row-start: 16;
}

.grid-chart .bar-116 {
  -ms-grid-row: 15;
      grid-row-start: 15;
}

.grid-chart .bar-117 {
  -ms-grid-row: 14;
      grid-row-start: 14;
}

.grid-chart .bar-118 {
  -ms-grid-row: 13;
      grid-row-start: 13;
}

.grid-chart .bar-119 {
  -ms-grid-row: 12;
      grid-row-start: 12;
}

.grid-chart .bar-120 {
  -ms-grid-row: 11;
      grid-row-start: 11;
}

.grid-chart .bar-121 {
  -ms-grid-row: 10;
      grid-row-start: 10;
}

.grid-chart .bar-122 {
  -ms-grid-row: 9;
      grid-row-start: 9;
}

.grid-chart .bar-123 {
  -ms-grid-row: 8;
      grid-row-start: 8;
}

.grid-chart .bar-124 {
  -ms-grid-row: 7;
      grid-row-start: 7;
}

.grid-chart .bar-125 {
  -ms-grid-row: 6;
      grid-row-start: 6;
}

.grid-chart .bar-126 {
  -ms-grid-row: 5;
      grid-row-start: 5;
}

.grid-chart .bar-127 {
  -ms-grid-row: 4;
      grid-row-start: 4;
}

.grid-chart .bar-128 {
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.grid-chart .bar-129 {
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.grid-chart .bar-130 {
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.grid-chart .bar-131 {
  -ms-grid-row: 0;
      grid-row-start: 0;
}

.Barchart {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.Barchart-grid {
  border: 1px solid black;
}

.Barchart-grid::after {
  content: attr(indicator) " ";
  position: absolute;
  -webkit-transform: translate(-2.5vw, -1.5vh);
          transform: translate(-2.5vw, -1.5vh);
}

.Bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 400px;
      grid-template-rows: 400px;
}

.graphs {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-columns: (5vw)[10];
      grid-template-columns: repeat(10, 5vw);
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 2.2vw;
  border: 2px solid black;
  padding-left: 0.8vw;
}

.graphEle {
  border: 1px solid black;
  background-color: rosybrown;
}

.graphEle::after {
  content: attr(graph-title) " ";
  position: absolute;
}

.admin-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  margin: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 98%;
  height: 20%;
  border: 2px solid black;
  font-size: 12px;
}

.admin-nav_item {
  padding: 0.5%;
  border-radius: 10px;
}

.admin-nav_item:hover {
  background-color: grey;
}

.admin-nav_link {
  color: black;
}

.admin-flash {
  width: 80%;
  height: 80vh;
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  background-color: #b5e4e6;
}

.admin-flash-present {
  width: 50%;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 3px;
  background-color: white;
}

.admin-flash-present_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10%;
  width: 97%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px 3px;
  padding-right: 7px;
  color: green;
}

.admin-flash-present_item_news {
  color: black;
}

.admin-flash-present_item:last-child {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.admin-flash-present_item:last-child_news {
  font-size: 18px;
}

.admin-flash-present_add {
  text-align: center;
  color: black;
}

.admin-flash-edit {
  width: 47%;
  height: 40%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}

.admin-flash-edit_form {
  height: 90%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
}

.admin-flash-edit_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 97%;
  height: 20%;
}

.admin-flash-edit_item_text {
  width: 30%;
}

.admin-flash-edit_item_input {
  width: 90%;
  padding: 2px 7px;
  height: 50%;
  border-radius: 10px;
}

.admin-flash-edit_buttons {
  width: 98%;
  height: 25%;
}

.admin-flash-edit_delete {
  color: red;
  position: relative;
  left: 50px;
  top: 10px;
  background-color: transparent;
  border: none;
}

.admin-flash-edit_confirm {
  color: black;
  position: relative;
  left: 200px;
  top: 10px;
  background-color: transparent;
  border: none;
}

.admin-flash-edit_add {
  color: black;
  position: relative;
  left: 15%;
  height: 90%;
  background-color: transparent;
  border: none;
}

.admin-flash-edit_add:hover {
  color: green;
}

.admin-edit-button {
  cursor: pointer;
}

html {
  font-size: 18px;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
}

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

li,
ul {
  list-style-type: none;
}

h1 {
  color: #B74F6F;
  text-align: center;
}

h2 {
  color: #0C959C;
}

h3 {
  color: #B74F6F;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */