$themeColors: ( "primary":#308dc4, "light":blue, "text-primary":white);
$menuColors:("bg":blue, "text":white, "hover":grey);
$adminColors:("edit":#bf1d0c, "add":#6fe222, "select":#6fe222);
@function theme($color) {
    @return map-get($themeColors, $color);
}

@function admin($color) {
    @return map-get($adminColors, $color);
}

@function menuColor($color) {
    @return map-get($menuColors, $color);
}

@mixin mobile {
    @media (max-width: 820px) {
        @content
    }
}

@mixin desktop {
    @media screen and (min-width: 900px) {
        @content
    }
}

@mixin vendorPrefix($name, $value) {
    @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
        #{$vendor}#{$name}:#{$value};
    }
}

@mixin buttonHover() {
    box-shadow: 0.2vw 0.3vw #777879;
    transition: 0.5s;
    background-color: #003f9d;
    color: white;
    border: none;
}