.head {
    grid-column: 1/-1;
    grid-row: 1;
    display: grid;
    grid-template-rows: 17vh auto;
    padding-bottom: 0.8%;
    //border: 0.1vh solid black;
    //align-items: flex-end;
    //background-image: linear-gradient(to bottom, #000667, #020391, #013289); //#114971, #18669e); // background-image: linear-gradient(40deg, #01009d, #0021ff, #6276ff);
}

.header {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 12% auto 15%;
    grid-template-rows: 100%;
    margin-top: 2vh;
    //border: 0.1vh solid black;
    &-logoA {
        height: 100%;
        width: 100%;
        //border: 0.1vh solid black; //margin: auto 10px;
    }
    &-logoM {
        height: 100%;
        width: 100%;
        //margin: auto 10px;
        // border: 0.1vh solid black;
    }
    &-title {
        color: #1181b2;
        display: grid;
        grid-template-rows: 5vh 4vh auto;
        color: black; //#deb992;    
        H1 {
            font-size: min(4vh, 2.5vw);
            display: flex;
            justify-content: center;
        }
        H2 {
            font-size: 3vh;
            display: flex;
            justify-content: center;
        }
    }
}

.menu-nav {
    flex: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, max-content);
    background-color: theme("light");
    margin-top: 1vh;
    padding: 0.3vw 0.6vh;
    &_item {
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4vh;
        padding: 2% 5%;
        border-radius: 1vh;
        color: white;
    }
    &:nth-child(1) {
        padding-left: 1px;
    }
    &_logo {
        margin-top: 0.7vh;
        font-size: 1.5vw;
        transform: translateY(-10%);
    }
    &_link {
        font-size: min(1.68vh, 1vw);
        text-justify: center;
        margin: auto 0.3vw;
        white-space: nowrap;
        color: white;
        font-weight: 500;
    }
    &_item:hover {
        cursor: pointer;
        &::after {
            content: "";
            width: 5vw;
            position: absolute;
            border: 0.2vh solid white;
            background-color: white;
            transform: translate(0.3vw, 2.2vh);
            @include vendorPrefix('animation', 'growBar 0.4s 1 ease-in-out');
        }
    }
}

@keyframes growBar {
    0% {
        transform: translate(0.3vw, 2.2vh) scaleX(0%);
    }
    100% {
        transform: translate(0.3vw, 2.2vh) scaleX(100%);
    }
}