.hod {
    display: flex;

    &_column {
        position: relative;
        flex: 1;
        flex-direction: column;
        flex-basis: 100%;

        &_1 {
            width: 40%;
            float: left;
            padding: 10px 10px;
        }

        &_2 {
            width: 60%;
            float: right;
            padding: 10px 10px;
        }
    }

    &_content {
        align-content: center;
        padding: 20px 20px;
    }
}