
/* for pie chart */

.grid-container-pie {
    display: grid;
    grid-template-columns: 30vw auto;    
    grid-gap: 15px;  
}

.grid-container-pie > div {
  text-align: center;
  padding: 3px;
}

.pie-chart {
	background:
		radial-gradient(
			circle closest-side,
			transparent 66%,
			white 0
		),
		conic-gradient(
			#4e79a7 0,
			#4e79a7 25%,
			#f28e2c 0,
			#f28e2c 75%,
    	);
	position: relative;
	min-height: 300px;
	margin: 0;
    outline: 3px solid black;
}

.pie-chart figcaption {
	position: absolute;
	bottom: 1em;
	right: 1em;
	font-size: smaller;
	text-align: right;
}

.pie-chart span:after {
	display: inline-block;
	content: "";
	width: 0.8em;
	height: 0.8em;
	margin-left: 0.4em;
	height: 0.8em;
	border-radius: 0em;
	background: currentColor;
}

.companies {
	padding:13px; 
	background-color: rgba(255, 255, 255, 0.8)
}

/* Highers Stats */
.table-striped{
	text-align: center;
	padding: 10px;
	thead { color:#424242; font-size:12pt; }
	tbody { 
		color:#212121; 
		font-size:11pt;  
		tr:nth-child(odd) {background-color:rgb(197, 235, 240);}
	}
	
}

/* Dynamic part */

.highers {
    //border: 1px solid black;
    grid-column: 1/-1;
    height: 40vh;
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 3%;
    padding: 10px;
    .hYears {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-row-gap: 3%;
        padding: 5% 0;
        .hYrs {
            border: 1px solid black;
            border-radius: 1px;
			background-color: rgb(197, 235, 240);
            display: flex;
            align-items: center;
            font-size: 10pt;
            justify-content: space-around;
        }
        .hYrs:hover {
            box-shadow: 0.2vw 0.4vh #b3b3b3;
            cursor: pointer;
            transform: translateY(-2%);
        }
    }
    .highers-list {
        overflow-y:scroll;
        display: none;
		
    }
}
