
/* for pie chart */

.grid-container-pie {
    display: grid;
    grid-template-columns: 30vw auto;    
    grid-gap: 15px;  
}

.grid-container-pie > div {
  text-align: center;
  padding: 3px;
}

.pie-chart {
	background:
		radial-gradient(
			circle closest-side,
			transparent 66%,
			white 0
		),
		conic-gradient(
			#4e79a7 0,
			#4e79a7 25%,
			#f28e2c 0,
			#f28e2c 75%,
    	);
	position: relative;
	min-height: 300px;
	margin: 0;
    outline: 3px solid black;
}

.pie-chart figcaption {
	position: absolute;
	bottom: 1em;
	right: 1em;
	font-size: smaller;
	text-align: right;
}

.pie-chart span:after {
	display: inline-block;
	content: "";
	width: 0.8em;
	height: 0.8em;
	margin-left: 0.4em;
	height: 0.8em;
	border-radius: 0em;
	background: currentColor;
}

/* for bar graphs */

.Barchart
{	display: grid;
	grid-template-columns: repeat(10,1fr);
	grid-template-rows: repeat(10,1fr);
	&-grid{border:1px solid black};
	grid-row: 1;
	grid-column: 1;

}

.Barchart-grid::after{
	content: attr(indicator)" ";
	position: absolute;
	transform: translate(-2.5vw,-1.5vh);
}

.Bar
{	display:grid;
	grid-template-columns: 100%;
	grid-template-rows: 400px;
}

.graphs
{	display: grid;
	grid-row: 1;
	grid-column: 1;
	grid-template-columns: repeat(10,5vw);
	grid-template-rows: repeat(10,1fr);
	grid-column-gap: 2.2vw;
	//z-index: +3;
	border: 2px solid black;
	padding-left: 0.8vw;
}

.graphEle
{	border: 1px solid black;
	background-color: rosybrown;
	//grid-column: 1;
	//grid-row: 1/-1;
	&::after{
		content: attr(graph-title)" ";
		position: absolute; 
		
	}
}

/* Highers Stats */
.table-striped{
	text-align: center;
	padding: 10px;
	thead { color:#424242; font-size:12pt; }
	tbody { 
		color:#212121; 
		font-size:11pt;  
		tr:nth-child(odd) {background-color:rgb(197, 235, 240);}
	}
	
}

/* Dynamic part */

.highers {
    border: 1px solid black;
    grid-column: 1/-1;
    height: 60vh;
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 3%;
    padding: 2%;
    .hYears {
        // border: 1px solid black;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap: 3%;
        padding: 5% 0;
        .hYrs {
            border: 0.1vh solid black;
            border-radius: 1vh;
            display: flex;
            align-items: center;
            font-size: min(1.2vw, 2vh);
            justify-content: space-around;
        }
        .hYrs:hover {
            box-shadow: 0.2vw 0.4vh #b3b3b3;
            cursor: pointer;
            transform: translateY(-2%);
        }
    }
    .highers-list {
        border: 1px solid black;
        display: grid;
        grid-column: 2;
        grid-row: 1/-1;
        grid-template-rows: auto-fill;
        grid-template-columns: repeat(4, 0.8fr);
        grid-gap: 2% 2%;
        padding: 2%;
        overflow-y: scroll;
        visibility: hidden;
        
    }
}
