.placement{
	grid-row: 2;
	grid-column: 1/-1;
	//border: 1px solid black;
}

/* for pie chart */

.grid-container-pie {
    display: grid;
    grid-template-columns: 120vh 60vh;    
    grid-gap: 1.5%;  
}

.grid-container-pie > div {
  text-align: center;
}

.pie-chart {
	background:
		radial-gradient(
			circle closest-side,
			transparent 66%,
			theme("BG") 0
		),
		conic-gradient(
			white 0,
			white 25%,
			theme("light") 0,
			theme("light") 75%,
    	);
	position: relative;
	min-height: 45vh;
	margin: 0;
    outline: 0.1vw solid theme("primary");
}

.pie-chart figcaption {
	position: absolute;
	bottom: 1%;
	right: 1.5%;
	font-size: 2.5vh;
	text-align: right;
}

.pie-chart span:after {
	display: inline-block;
	content: "";
	width: 1vw;
	height: 1vh;
	margin-left: 0.5vw;
	height: 1vh;
	//border-radius: 0em;
	background: currentColor;
}

.companies {
	//padding:0.6vw; 
	background-color: white;
	color:theme("primary");
	border: 0.1vw solid theme("primary");
}

/* Highers Stats */
.table-striped{
	text-align: center;
	padding: 1vw;
	border: 0.1vw solid theme("primary");
	thead { color: theme("text-H1"); font-size:1.7vw; }
	tbody { 
		color: theme("text-H1"); 
		td { font-size: 1.2vw; }
		tr { border-top:0.1vw solid theme("primary");
			//border-bottom: none;
		}
	}	
}

/* Dynamic part */

.highers {
    //border: 1px solid black;
    grid-column: 1/-1;
    height: 40vh;
    display: grid;
    grid-template-columns: 18vw auto;
    grid-column-gap: 1.5%;
    //padding-right: 1%;
    .hYears {
        display: grid;
        grid-template-rows: repeat(5, 6vh);
        grid-row-gap: 3%;
        padding: 5%;
        .hYrs {
            //border: 1px solid theme("primary");
            border-radius: 1vh;
			background-color: theme("light");
            display: flex;
            align-items: center;
            font-size: 1.2vw;
            justify-content: space-around;
			color: white;
        }
        .hYrs:hover {
            box-shadow: 0.2vw 0.4vh theme("box-shadow");
            cursor: pointer;
            transform: translateY(-2%);
			background-color: theme("primary");
			transition: 0.4s;
        }
    }
    .highers-list {
        overflow-y:scroll;
        display: none;		
    }
}

