@import 'config';
@import 'header';
@import 'aboutUs';
@import 'placements';
@import 'faculty';
@import 'facultyDetails';
@import 'curriculum';
@import'students';
@import 'infrastructure';
@import 'footer';
@import'../fdd146b2c100a0c7e37994291a4f5dbee16e7af48b78ed7973f0dc0767fc4e50/Sass/admin';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
html {
    font-size: 18px;
    font-weight: 500;
    overflow-y: auto;
}

.site {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% max-content 20%;
    justify-content: center;
    align-items: center;
    width: 98.5vw;
    height: 100%;
    //background-color: #f7efe6;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0;
    bottom: 0;
}

a {
    text-decoration: none;
}

li,
ul {
    list-style-type: none;
}

.Bg {
    grid-row: 1/-1;
    grid-column: 1/-1;
    background-color: #b7d2f1;
    transform: scale(1vh, 1vw);
}