@import 'config';
@import 'header';
@import 'footer';
@import 'aboutUs';
@import 'hodDesk';
@import 'gallery';
@import'../Admin/Sass/admin';
html {
    font-size: 18px;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
}

.site {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

li,
ul {
    list-style-type: none;
}

h1 {
    color:#B74F6F;
    text-align: center;
}

h2 {
    color: #0C959C;
  }