.admin-header {
    display: grid;
    grid-row: 1;
    grid-template-rows: 15vh auto;
    border: 0.1vh solid black;
}

.admin-title {
    display: flex;
    align-items: center;
    justify-content: center;
}