.admin-student {
    display: grid;
    border: 0.1vh solid black;
    grid-row: 2;
    height: 90vh;
    grid-template-columns: 24vw auto;
    grid-template-rows: 7vh 40vh auto;
    padding: 1.5%;
    grid-row-gap: 3%;
    grid-column-gap: 2%;
    &_display {
        &T {
            border: 0.1vh solid black;
            grid-row: 2/-1;
            grid-column: 2;
        }
    }
}